<app-header></app-header>
<div class="container">
    <div class="row aa">
        <div class="col-lg-6 mx-auto">
            <h1>PRODUCT VIEW LIST</h1>
            <table style="border: 1px solid ;">
                <thead>
                    <tr>
                        <th>pname</th>
                        <th>p_desc</th>
                        <th>p_id</th>
                        <th>p_review</th>
                    </tr>
                </thead>
                <tr>
                    <td> {{myApp[0].pname}} </td>
                    <td> {{myApp[0].p_desc}} </td>
                    <td> {{myApp[0].p_id}} </td>
                    <td> {{myApp[0].p_review}} </td>
                </tr>
                <tr>
                    <td> {{myApp[1].pname}} </td>
                    <td> {{myApp[1].p_desc}} </td>
                    <td> {{myApp[1].p_id}} </td>
                    <td> {{myApp[1].p_review}} </td>
                </tr>
                <tr>
                    <td> {{myApp[2].pname}} </td>
                    <td> {{myApp[2].p_desc}} </td>
                    <td> {{myApp[2].p_id}} </td>
                    <td> {{myApp[2].p_review}} </td>
                </tr>
                <tr>
                    <td> {{myApp[3].pname}} </td>
                    <td> {{myApp[3].p_desc}} </td>
                    <td> {{myApp[3].p_id}} </td>
                    <td> {{myApp[3].p_review}} </td>
                </tr>
                <tr>
                    <td> {{myApp[4].pname}} </td>
                    <td> {{myApp[4].p_desc}} </td>
                    <td> {{myApp[4].p_id}} </td>
                    <td> {{myApp[4].p_review}} </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<app-footer></app-footer>