<app-header></app-header>
<div class="container">
    <div class="row aa">
        <div class="col-lg-6 mx-auto">
            <h1 style="text-align: center;">USER VIEW LIST </h1>
            <table style="border: 1px solid ;">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Email</th>
                        <th>u_id</th>
                        <th>Address</th>
                    </tr>
                </thead>
                <tr>
                    <td> {{myApp[0].uname}} </td>
                    <td> {{myApp[0].email}} </td>
                    <td> {{myApp[0].u_id}} </td>
                    <td> {{myApp[0].add}} </td>
                </tr>
                <tr>
                    <td> {{myApp[1].uname}} </td>
                    <td> {{myApp[1].email}} </td>
                    <td> {{myApp[1].u_id}} </td>
                    <td> {{myApp[1].add}} </td>
                </tr>
                <tr>
                    <td> {{myApp[2].uname}} </td>
                    <td> {{myApp[2].email}} </td>
                    <td> {{myApp[2].u_id}} </td>
                    <td> {{myApp[2].add}} </td>
                </tr>
                <tr>
                    <td> {{myApp[3].uname}} </td>
                    <td> {{myApp[3].email}} </td>
                    <td> {{myApp[3].u_id}} </td>
                    <td> {{myApp[3].add}} </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<app-footer></app-footer>