<header>
    <section class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="col-lg-9 col-md-12 col-sm-6"></div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/login">LOGIN</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/register">REGISTER</a>
                    </li>
                </ul>
            </div>
        </nav>
    </section>
</header>
<div class="ban">
    <section class="container">
        <div class="col-lg-6 col-md-6 col-sm-12 ">
            <p class="ban1"><span>Multus Medical</span> specializes
                <br> in creating Patient-Specific <br> 3D Models</p>
            <button><span>Schedule A Meeting</span></button>
        </div>
    </section>
</div>
<div class="second">
    <section class="container">
        <h6>WELCOME TO MULTUS</h6>
        <p class="sec">We are Best <span>Med</span>ical Hospital</p>
        <p>Multus medical specializes in creating patient specific Medical Models. <br> We use patients MRI scan data to accurately generate 3D representation of patient-specific.</p>
        <div class="row justify-content-center">
            <div class="col-lg-3 col-md-3 col-sm-12 ">
                <img src="../../assets/header/about-01.jpg" alt="">
            </div>
            <div class="col-md-3 col-sm-12 col-lg-3">
                <img src="../../assets/header/about-02.jpg" alt="">
            </div>
            <div class="col-md-3 col-sm-12 col-lg-3">
                <img src="../../assets/header/about-03.jpg" alt="">
            </div>
        </div>
    </section>
</div>
<div class="third">
    <p>OUR BENEFITS</p>
    <p class="sec">Best <span>we</span> provide</p>
    <p>Multus medical specializes in creating patient specific Medical Models. <br> We use patients MRI scan data to accurately generate 3D representation of patient-specific.</p>
    <div class="row justify-content-center pt-3">
        <div class="c1 col-md-3 col-sm-12 ">
            <p class="thi">Benefits of Attorneys</p>
            <ul>
                <li>No-cost-3D rendering is part of MRI charge</li>
                <li>Clear demostration of the injury</li>
                <li>Sellte quickerregister & better</li>
            </ul>
        </div>
        <div class="c2 col-md-3 col-sm-12 ">
            <p class="thi">Benefits for Physician</p>
            <ul>
                <li>No-cost-3D rendering is part of MRI charge</li>
                <li>Clear demostration of the injury</li>
                <li>Sellte quicker & better</li>
            </ul>
        </div>
        <div class="c3 col-md-3 col-sm-12 ">
            <p class="thi">MRI Facilities</p>
            <ul>
                <li>No-cost-3D rendering is part of MRI charge</li>
                <li>Clear demostration of the injury</li>
                <li>Sellte quicker & better</li>
            </ul>
        </div>
    </div>
</div>
<div class="forth">
    <section class="container">
        <p>OURPROCESS </p>
        <p class="sec">See H<span>ow it</span>work </p>
        <p>Multus medical specializes in creating patient specific Medical Models. <br> We use patients MRI scan data to accurately generate 3D representation of patient-specific.</p>
        <div class="row justify-content-center forrr">
            <div class="col-md-3 col-sm-12 col-lg-3 ">
                <img src="icon-upload.png" alt="">
                <h3>1. Uploads</h3>
                <p>Upload your scan and report to HIPPA compiliance</p>
            </div>
            <div class="col-md-3 col-sm-12 col-lg-3">
                <img src="icon-review.png" alt="">
                <h3>2. Reviews</h3>
                <p>Upload your scan and report to HIPPA compiliance</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
                <img src="icon-delivery.png" alt="">
                <h3>3. Delivery</h3>
                <p>Upload your scan and report to HIPPA compiliance</p>
            </div>
        </div>
    </section>
</div>
<div class="fifth">
    <p class="sec">Book A<span>ppo</span>intment</p>
    <p>We use patients MRI scan data to accurately generate 3D representation of patient-specific. <br> Multus medical specializes in creating patient specific Medical Models.</p>
    <section class="container">
        <div class="row fifff">
            <div class="col-md-12 col-lg-2 col-sm-12"></div>
            <div class="col-md-12 col-lg-4 col-sm-12 ">
                <input type="text" placeholder="Full Name"><br>
                <input type="text" placeholder="Phone Number"><br>
                <input type="text" placeholder="Date"><br>
            </div>
            <div class="col-md-12 col-lg-4 col-sm-12">
                <input type="text" placeholder="Email address"><br>
                <input type="text" placeholder="Company Name"><br>
                <input type="text" placeholder="Time"><br>
                <button><span>Book Appointment</span></button>
            </div>
            <div class="col-md-12 col-lg-2 col-sm-12"></div>
        </div>
    </section>
</div>
<div class="six">
    <section class="container">
        <section class="row justify-content-center">
            <div class="col-md-12 col-lg-3 col-sm-12 fifff">
                <p class="fc1">Address Info</p>
                <p class="f11">99 NY Address street, Bronk</p>
                <p class="f11">Center Brooklyn</p>
                <p class="f11">United States,</p>
                <p class="f11">CA We1628</p>
            </div>
            <div class="col-md-12 col-lg-3 col-sm-12">
                <p class="fc1">Contact Info</p>
                <p class="f11">+1 245 312 45245</p>
                <p class="f11">+01 00 2451 31245</p>
                <p class="f11">info@reflex.com</p>
            </div>
            <div class="col-md-12 col-lg-3 col-sm-12">
                <p class="fc1">Contact US</p>
                <div class="f31">
                    <input type="text" name="" id="" placeholder="Full Name" class="fn">
                    <input type="text" name="" id="" placeholder="Email" class="fn1">
                </div>
            </div>
            <div class="col-md-12 col-lg-3 col-sm-12 ">
                <div class="f32">
                    <textarea class="s4" name="" id="" cols="" rows="2" placeholder="Message"></textarea>
                    <div class="bottom-right">
                        <button class="btn btn-primary btn-large btn-start float-right" style="border-radius: 50px;padding-left: 40px;padding-right: 40px;background-color:  rgb(240, 130, 6);border: none;"><span>Send</span></button>
                    </div>
                </div>
            </div>
        </section>
    </section>
</div>