body {
    margin: 0;
    padding: 0;
    background-color: #17a2b8;
    height: 100%;
}

#reg .container #reg-row #reg-column #reg-box {
    margin-top: 5px;
    max-width: 600px;
    height: 600px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
}

#reg .container #login-row #reg-column #reg-box #reg-form {
    padding: 10px;
}